body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

#footer {
    margin-top: auto;
}

.imagenes {
    width: 150px;
    height: 150px;
}

.inicio {
    background-image: url(../images/concierto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contacto {
    background-image: url(../images/edificios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trabajo {
    background-image: url(../images/reunion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo-negro {
    background-color: rgba(0, 0, 0, 0.6);
}

